@font-face {
    font-family: translatedLanguage;
    src: url("fonts\\language.ttf");
}

p.plus {
    font-size: 1.9em;
}
div.plus {
    font-size: 1.9em;
}

img {
    -webkit-user-drag: none;
}

.translated {
    font-family: translatedLanguage;
}
h1.translated {
    font-size: 10em;
}
h3.translated {
    font-size: 3em;
}
.header {
    width: 100%;
}
.homeLink {
    font-size: 1.5em;
}


div.SearchBar {
    padding-top: 1%;
    padding-right: 5%;
    flex-direction: row;
    text-align: right;
    bottom: 0;
    float: right;
}
div.SearchBarH3 {
    padding-top: 1%;
    text-align: right;
    flex: 5;
    padding-right: 3%;
    float: right;
}
input.SearchBar {
    flex: 2;
    height: 2.25em;
    float: right;
}
button.SearchBar {
    flex: .5;
    height: 2.25em;
    float: right;
}


.navBar {
    position: fixed;
    top: 0;
    right: 0;
    display: table;
    height: 4em;
    width: 40%;
    z-index: 9999;
    background-color: #FFF;
    box-shadow: 0 .3em 1em #999;
}
.navBuffer {
    height: 5em;
}

.rowDisp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.spacingH {
    min-height: 4em;
    width: 2em;
}

.charBtn {
    height: 2em;
    width: 2em;
    font-size: 3em;
    text-align: center;
}

.widthInherit {
    width: inherit;
}