p.letter {
    font-size: 5em;
    text-align: center;
    width: 100%;
}

td.lefty {
    width: 25%;
}
td.righty {
    width: 10%;
}
table {
    width: 100%;
}
tr {
    width: 100%;
}

h1.charTitle {
    font-size: 5em;
    padding-right: 5%
}

div.charDisp {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
}
tr.charDisp {
    display: flex;
    flex-direction: row;
    width: 100%;
}
img.charDisp1 {
    user-select: none;
    height: 15em;
    width: 15em;
    display:block;
    margin:auto;
}
img.charDisp2 {
    user-select: none;
    /*height: 10em;
    width: 10em;*/
    height: 15em;
    width: 15em;
    display:block;
    margin:auto;
}


h1.sink {
    position: absolute;
    bottom: 0;
}
h3.sink {
    position: absolute;
    bottom: 0;
}
.sink {
    position: absolute;
    bottom: 0;
}
div.sink {
    float: bottom;
    position: relative;
    bottom: 0;
    width: min-content;
}

.right {
    float: right;
}

td.Vsep {
    height:100%;
    background-color: #DDD;
    width: .05em;
}
td.Spacing {
    width: 10%;
}
td.SpacingLight {
    width: 5%;
}

.linkBack {
    padding-top: 2em;
    padding-bottom: 2em;
}